@model IEnumerable<baberShop.Models.INFOR_SHOP>

@foreach (var item in Model)
{
    <div class="site-footer-thumb">
        <strong class="mb-1">Quận 1</strong>

        <p>@item.ADDRESS_SHOP</p>
    </div>
}
